<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.company.mapper.BenefitTypeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.company.entity.BenefitType">
                    <result column="benefit_name" property="benefitName" />
                    <result column="benefit_description" property="benefitDescription" />
                    <result column="icon" property="icon" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                benefit_name, benefit_description, icon
        </sql>

</mapper>
