<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.company.mapper.CompanyAddressMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.model.entity.company.CompanyAddress">
                    <result column="company_id" property="companyId" />
                    <result column="province" property="province" />
                    <result column="city" property="city" />
                    <result column="district" property="district" />
                    <result column="address" property="address" />
                    <result column="longitude" property="longitude" />
                    <result column="latitude" property="latitude" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                company_id, province, city, district, address, longitude, latitude
        </sql>

</mapper>
