<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.company.mapper.CompanyDepartmentEmployeeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.model.entity.company.CompanyDepartmentEmployee">
                    <result column="company_id" property="companyId" />
                    <result column="department_id" property="departmentId" />
                    <result column="employee" property="employee" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                company_id, department_id, employee
        </sql>

</mapper>
