<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.company.mapper.DepartmentMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.model.entity.company.Department">
                    <result column="company_id" property="companyId" />
                    <result column="department_name" property="departmentName" />
                    <result column="parent_id" property="parentId" />
                    <result column="department_description" property="departmentDescription" />
                    <result column="count" property="count" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                company_id, department_name, parent_id, department_description, count
        </sql>

</mapper>
