<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.interview.mapper.OfferInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.interview.entity.OfferInfo">
                    <result column="candidate_id" property="candidateId" />
                    <result column="position_id" property="positionId" />
                    <result column="sender_id" property="senderId" />
                    <result column="offer_status" property="offerStatus" />
                    <result column="reporting_location" property="reportingLocation" />
                    <result column="final_reporting_time" property="finalReportingTime" />
                    <result column="offer_description" property="offerDescription" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                candidate_id, position_id, sender_id, offer_status, reporting_location, final_reporting_time, offer_description
        </sql>

</mapper>
