<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.user.mapper.UserInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.model.entity.user.UserInfo">
                    <result column="nickname" property="nickname" />
                    <result column="avatar" property="avatar" />
                    <result column="phone" property="phone" />
                    <result column="email" property="email" />
                    <result column="password" property="password" />
                    <result column="name" property="name" />
                    <result column="gender" property="gender" />
                    <result column="birthday" property="birthday" />
                    <result column="idcard_no" property="idcardNo" />
                    <result column="idcard_address" property="idcardAddress" />
                    <result column="idcard_expire" property="idcardExpire" />
                    <result column="idcard_front_url" property="idcardFrontUrl" />
                    <result column="idcard_back_url" property="idcardBackUrl" />
                    <result column="face_model_id" property="faceModelId" />
                    <result column="auth_status" property="authStatus" />
                    <result column="status" property="status" />
                    <result column="type" property="type" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                nickname, avatar, phone, email, password, name, gender, birthday, idcard_no, idcard_address, idcard_expire, idcard_front_url, idcard_back_url, face_model_id, auth_status, status, type
        </sql>

</mapper>
