<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.application.mapper.ApplicationStatusHistoryMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.model.entity.application.ApplicationStatusHistory">
                    <result column="application_id" property="applicationId" />
                    <result column="status" property="status" />
                    <result column="recruiter_id" property="recruiterId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                application_id, status, recruiter_id
        </sql>

</mapper>
