<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hjf.job.resume.mapper.JobExpectationMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cn.hjf.job.resume.entity.JobExpectation">
                    <result column="resume_id" property="resumeId" />
                    <result column="expected_position_id" property="expectedPositionId" />
                    <result column="work_city" property="workCity" />
                    <result column="salary_min" property="salaryMin" />
                    <result column="salary_max" property="salaryMax" />
                    <result column="is_negotiable" property="isNegotiable" />
                    <result column="industry_id" property="industryId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="columns">
                resume_id, expected_position_id, work_city, salary_min, salary_max, is_negotiable, industry_id
        </sql>

</mapper>
